[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
